.shader-nodes-root {
    -fx-background-color: -var-background-color,
        linear-gradient(from 0.5px 0px to 16.5px 0px, repeat, -var-border-color 5%, transparent 5%),
        linear-gradient(from 0px 0.5px to 0px 16.5px, repeat, -var-border-color 5%, transparent 5%);
    -fx-min-width: 10555px;
    -fx-min-height: 5555px;
}