.shader-nodes-root {
    -fx-background-color: -var-background-color,
        linear-gradient(from 0.5px 0px to 16.5px 0px, repeat, -var-border-color 5%, transparent 5%),
        linear-gradient(from 0px 0.5px to 0px 16.5px, repeat, -var-border-color 5%, transparent 5%);
    -fx-min-width: 10555px;
    -fx-min-height: 5555px;
}

.shader-node {
    -fx-background: -var-button-background-color;
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 3px;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 0px 0px 2px 0px;
}

.shader-node:selected {
    -fx-border-color: -var-button-hover-border-color;
    -fx-background: -var-button-hover-background-color;
}

.shader-node > .header {
    -fx-background-color: -var-menu-bar-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 2px 2px 0px 0px;
    -fx-padding: 0px 4px 0px 4px;
}

.shader-node > .vbox {
    -fx-alignment: center;
}

.shader-node-parameter {
    -fx-spacing: 2px;
}

.shader-node-input-parameter {
    -fx-alignment: center-left;
    -fx-padding: 0px 0px 0px -4px;
}

.shader-node-output-parameter {
    -fx-alignment: center-right;
    -fx-padding: 0px -4px 0px 0px;
}

.shader-node-material-output-parameter {
    -fx-padding: 3px -4px 1px 3px;
}

.shader-node-parameter > .label {
    -fx-min-height: 20px;
}

.shader-node-parameter-socket {
    -fx-background-color: -var-font-color;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: -var-border-color;
    -fx-border-radius: 5px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-max-height: -fx-min-height;
    -fx-max-width: -fx-min-width;
}

.shader-node-parameter-input-socket {
}

.shader-node-parameter-input-socket:required {
}

.shader-node-parameter-input-socket:required:droppable,
.shader-node-parameter-input-socket:droppable {
    -fx-background-color: -fx-focus-color;
}

.shader-node-parameter-output-socket:hover {
    -fx-background-color: -fx-focus-color;
}

.shader-node-parameter-output-socket:dragged {
    -fx-background-color: -fx-focus-color;
}

.shader-node-line {
    -fx-stroke: -var-font-color;
    -fx-fill: transparent;
    -fx-stroke-width: 2px;
}

.shader-node-line:hover {
    -fx-stroke: -fx-focus-color;
    -fx-stroke-width: 4px;
}

.shader-node-temp-line {
    -fx-stroke: -fx-focus-color;
    -fx-fill: transparent;
}

.shader-code-preview-component {

}

.shader-code-preview-component > .hbox {
    -fx-padding: 3px;
    -fx-spacing: 2px;
    -fx-alignment: center;
}

.shader-code-preview-component > .hbox > .label {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}